{
  acme_dns porkbun {
    api_key {env.PORKBUN_API_KEY}
    api_secret_key {env.PORKBUN_API_SECRET_KEY}
  }
}

mail.reger.cloud {
  reverse_proxy localhost:1323
}

jellyfin.reger.cloud,
music.reger.cloud {
  reverse_proxy localhost:8096
}

photos.reger.cloud {
  reverse_proxy localhost:2283
}

code.reger.cloud {
  reverse_proxy localhost:7080
}

reger.cloud,
localhost {
  reverse_proxy localhost:8080
}
