{
  email mail@jordanreger.com
}

jellyfin.reger.cloud,
music.reger.cloud {
  reverse_proxy localhost:8096
}

photos.reger.cloud {
  reverse_proxy localhost:2283
}

reger.cloud,
localhost {
  respond "cloud"
}
